body {
    font-family: 'Roboto', sans-serif;
}

.tweet {
    display: flex;
    width: 591px;
    height: 161px;
}

.tweet-head {
    display: flex;
}

.profile-name {
    margin-left: 9px;
    font-size: 15px;
    font-weight: 700;
}

.profile-image {
    height: 48px;
    width: 48px;
}

.verified {
    height: 15px;
    width: 15px;
    margin-left: 7px;
}

.date {
    margin-left: 9px;
    color: #536471;
    font-size: 15px;
    font-weight: 400;
}

.tweet-text {
    margin-left: 9px;
    margin-top: 5px;
    width: 430px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tools {
    margin-top: 16px;
    margin-left: 35px;
    height: 13px;
    width: 13px;
}

.tools-numbers {
    margin-top: 16px;
    margin-left: 5px;
    font-size: 11px;
    font-weight: 400;
    color: #536471;
}

.tool-box {
    height: 50px;
    width: 380px;
    display: flex;
    justify-content: space-evenly;
}
